[2019-04-13 21:19] DougVegas opened #1 "Suggested Changes to R Documentation for Easier UX"
1) can we change "is the source time series data.table" to "is the source time series data as a data.table (use package data.table to convert data.frame to data.table)"

2) In the Lags argument, can we change "same with moving averages" as "same as moving average lags"

3) In the SLags argument, can we change "same with moving averages" as "same as moving average lags"

[2019-04-13 21:32] AdrianAntico commented on #1
Changed 1. to #' @param data is the source time series data as a data.table - or a data structure that can be converted to a data.table.
2 and 3 are good to go

[2019-04-13 21:56] DougVegas commented on #1
In AutoTS documentation, can we also change default value in TargetName from "Targets" to "TargetMetric" as the word "Targets" may imply you can send more than 1 target value?

[2019-04-13 21:58] DougVegas commented on #1
Also, can we add the following to the Description of the AutoTS function in RemixAutoML. I'm copying+pasting from the README.md file:

Automatically finds the best model fit from the suite of models below (using optimized box-cox transformations), along with generating forecasts and evaluation metrics.

Models include:

- ARIFIMA: Auto Regressive Fractional Integrated Moving Average
- ARIMIA: Step

[2019-04-14 00:29] DougVegas opened #2 "Suggested Changes to AutoTS"
#### Runtime Using Walmart Data Set

   user  system elapsed
  20.23    1.44   21.76

#### Output Plots

Output plot is base plot from forecast package - need to add RemixTheme to plot.
X axis should display as date, not decimal.

**Title** of chart should be:
`paste(FCPeriods, TimeUnit, "forecast for", TargetName, sep = " ")`

**Subtitle** of chart should be:
`paste("Champion Model:", ChampionMod

[2019-04-14 04:41] AdrianAntico commented on #2
Issue 1: Note that a model may fail to build for a variety of reasons. In the event it doesn't build, it is currently skipped over and no evaluation metrics are returned as a result.

Looking into the other requests. Will comment when I've evaluated.

[2019-04-14 06:10] #1 closed

[2019-04-14 07:43] #2 closed

[2019-04-14 07:45] DougVegas commented on #2
We've decided on not adding in Feature Request 1.

We'll continue to monitor TSLM and PROPHET for other data sets to see if it continues exhibiting same issue of not outputting evaluation metrics.

[2019-05-30 03:38] FelipeCarrillo opened #5 "How to change the caption on the ggplot?"
Hi;
I found your post on Rbloggers and also on your website. I was able to install all of the packages although catboost was a challenge. It is a great demo and going through it right now. I have a naive question though. I looked at the str of the model and see all the captions you are using for the plot. How do I change or customize the captions you have on the title area and by the X axis area?

[2019-05-30 03:59] AdrianAntico commented on #5
# Run the below code to start, as an example
# The output will be stored in the object output <- AutoTS()
data <- data.table::data.table(DateTime = as.Date(Sys.time()),
  Bla = stats::filter(rnorm(1000,
                               mean = 50,
                               sd = 20),
                         filter=rep(1,10),
                         circular=TRUE))
data[, temp := seq(1:1000)][,

[2019-05-30 05:12] FelipeCarrillo commented on #5
Awesome!!!
I had found another way but your way is much better. Thanks for the great post, totally great!!!!

[2019-05-30 18:20] #5 closed

[2019-05-31 18:36] JerroldJV opened #6 "Certain functions change working directory and do not change it back"
In 3 places in the code base, there is the following code:
[code]
The problem with this code is that the working directory is changed, and not changed back.  This is of particular concern because if "model_path" is a relative directory, this code can only be run once before it starts failing. E.g. if my current working directory is "C:/", and model_path = "some_folder", after this code is run once

[2019-05-31 19:13] AdrianAntico commented on #6
Thanks @JerroldJV !! Great catch

The setwd() was originally in the AutoCatBoostRegression(), AutoCatBoostClassifier(), and AutoCatBoostMultiClass() functions. The code is now written as the below for all three catboost auto functions, per your suggestion:
[code]

[2019-05-31 19:13] #6 closed

[2019-06-03 11:30] TheofilosMyrillas opened #7 "Lost dependency"
Hi,
I try to install devtools::install_github('AdrianAntico/RemixAutoML', force = TRUE, dependencies = TRUE, upgrade = FALSE) but i get this error:
Error: (converted from warning) unable to access index for repository https://github.com/catboost/catboost/tree/master/catboost/R-package/src/contrib:
  cannot open URL 'https://github.com/catboost/catboost/tree/master/catboost/R-package/src/contrib/PA

[2019-06-03 16:23] AdrianAntico commented on #7
Hi @TheofilosMyrillas did you run the first script to install the dependencies? It looks like you don't have catboost installed.

[code]

[2019-06-04 08:53] TheofilosMyrillas commented on #7
Hi @AdrianAntico, all packages are installed. I run the script you mentioned before installing your package. My collegue face the same problem.
Maybe I am wrong but I believe that the problem is that  it tries to find this url 'https://github.com/catboost/catboost/tree/master/catboost/R-package/src/contrib/PACKAGES' but does not exist.
![image](https://user-images.githubusercontent.com/15029814/58

[2019-06-04 12:20] AdrianAntico commented on #7
Can you investigate these links and let me know if neither works for you?

This link shows the way I have listed in the installation script:
https://catboost.ai/docs/installation/r-installation-github-installation.html
[code]

Here is a link to another way:
https://catboost.ai/docs/installation/r-installation-binary-installation.html
[code]

[2019-06-05 07:27] TheofilosMyrillas commented on #7
Hi, I managed to install your package by setting dependencies = FALSE. Everything works now. Thanks

[2019-06-05 07:27] #7 closed

[2019-06-05 08:45] labrax commented on #7
I had some issues installing it. I fixed installing dependencies on my installation (apt-get install libgsl0-dev) and a packages that were missing - install.packages("sde").

Thank you

[2019-06-06 15:11] AdrianAntico opened #8 "DummifyDT column allocation insufficient"
When using DummifyDT to create dummy variables, it ran into issue with high cardinality categorical columns.

[2019-06-06 15:12] AdrianAntico commented on #8
I updated the function to dynamically pre-allocate columns sufficient for each categorical variable.

[2019-06-06 15:12] #8 closed

[2019-06-06 15:14] AdrianAntico opened #9 "AutoXGBoostRegression() + the Classifier and MultiClass Issues with Internally using DummifyDT"
AutoXGBoost__() function depend on DummifyDT for internally managing categorical features. Now that DummifyDT is fixed, AutoXGBoost__() functions are also working properly for modeling tasks with high cardinality categorical columns

[2019-06-06 15:15] #9 closed

[2019-06-12 20:20] MislavSag opened #10 "Can data argumetn be multivariate?"
I have just tried your package. I am not sure is data argument in AutoTS univariate time series or it can contain multiplie variables?

I tried with more than one variable, but I got final graph with two time series (instead of one, target variable).

EDIT: One more issue

I have following data:
[code]

When I tried to estimate model using AutoTS:
[code]
I got an error:
[code]

P. S. Why do you ha

[2019-06-12 20:55] AdrianAntico commented on #10
Currently, AutoTS() runs a single series at a time. You should supply a data.table with a date column and a target column (in that order), like the example in the help file. If you want to run through multiple series, create a loop and subset the data before each AutoTS() run.

This works for me:
[code]

P.S. I keep the code in a single file because it's easier for me to develop that way. I unders

[2019-06-12 21:10] AdrianAntico commented on #10
I would like to add that I added in the functionality to remove all extraneous columns you may put in your data along with ensuring the ordering of columns are correct.

[2019-06-13 12:58] MislavSag commented on #10
Ok, it works now.

Thanks.

It would be to incorporate multivariate models in the future.

[2019-06-13 14:01] AdrianAntico commented on #10
You should check out AutoMLTS(). It's a multivariate catboost forecasting function. It utilizes calendar, trend, and ARMA variables, and replicates an ARMA forecasting process. I tested it recently on some Walmart store / department data and was able to generate forecasts for 2660 store / dept's in about 15 minutes on GPU.

You need to have your data in long format - that is, you need a date colum

[2019-06-13 15:14] AdrianAntico opened #11 "Add Croston Forecast Model to AutoTS"
Good for forecasting series with zeros in them

[2019-06-14 23:23] mileta1976 opened #12 "Undefined exports: AutoCatBoostCARMA"
Hello,

There is an error during installation:
"Error: package or namespace load failed for ‘RemixAutoML’ in namespaceExport(ns, exports):
 undefined exports: AutoCatBoostCARMA"

It is possible there is an error in NAMESPACE file and export()

Thank you !

[2019-06-14 23:30] AdrianAntico commented on #12
I did some work on the RemixAutoML file today by adding that function in there. I was able to download it just now. Can you try again and let me know if there is still an error?

[2019-06-14 23:37] mileta1976 commented on #12
It  is OK now.
Thank you for your support !

[2019-06-14 23:38] AdrianAntico commented on #12
Sorry for confusion!

[2019-06-14 23:38] #10 closed

[2019-06-14 23:38] #12 closed

[2019-06-17 02:32] DougVegas opened #13 "AutoTS creates daily forecasts even though TimeUnit is set to "month""
Below is R code using the Walmart store sales data set where AutoTS is creating daily forecasts even though TimeUnit="month"

[code]

[2019-06-17 02:58] AdrianAntico commented on #13
Go ahead and reinstall. Works correctly now. Thanks for bringing the issue to my attention!

[code]

[2019-06-17 03:01] AdrianAntico commented on #13
I should also note, the error would have also affected "quarter" data as well. They are both good to go now, however.

[2019-06-17 04:08] #13 closed

[2019-06-17 20:58] googolplex08 commented on #13
Hi i had the same problem, and the update of RemixAutoML works perfectly, whatever now i have problem with my account in https://www.remyxcourses.com/ i can´t access with my credentials and i can´t recovered wit the option "forgot your password" because don´t recognizes my mail, maybe you have some problem with your database users.

[2019-06-18 01:49] AdrianAntico commented on #13
Send an email to remyxcourses.help@gmail.com

[2019-06-18 10:29] VladPerervenko opened #14 "exampl"
`Error in AutoXGBoostClassifier(data, ValidationData = NULL, TestData = NULL,  :
  object 'CatFeatures' not found`
What is it?

[2019-06-18 12:11] AdrianAntico commented on #14
I recently updated the code for that function. Originally, I had an argument for naming which columns were categorical. I removed that argument and just handled that internally. I forgot to remove a line of code that referenced the argument that no longer exists. Go ahead and rerun the install code and you should be good to go.
[code]

[2019-06-18 18:07] VladPerervenko commented on #14
its OK now,
Good luck

[2019-06-18 18:49] #14 closed

[2019-06-18 18:53] AdrianAntico commented on #14
Thanks for identifying the issue and bringing it up here!

[2019-06-20 16:07] AdrianAntico commented on #11
Putting on hold till a stronger need for this becomes available

[2019-06-20 16:07] #11 closed

[2019-06-25 12:56] johneggenspiller opened #15 "Installation Issues"
I'm getting the following error when I try to run the install:

looking for  catboost
Loading required namespace: catboost
Failed with error:  ‘there is no package called ‘catboost’’
Downloading GitHub repo catboost/catboost@master
Error: Failed to install 'catboost' from GitHub:
  cannot open the connection
In addition: Warning message:
In file(name, "wb") :
  cannot open file 'catboost-catboost-

[2019-06-25 13:22] spsanderson commented on #15
any chance of pushing this to CRAN for some reason my work pc won't open the url

[code]

[2019-06-25 13:54] AdrianAntico commented on #15
Here's the homepage for catboost installation for R. I list the method for **"Build from source"** in the installation script I have on the README. You might have to run that line all by itself or try one of the alternative methods they have listed. I was able to build it last night.

https://catboost.ai/docs/concepts/r-installation.html

[2019-06-26 12:52] Arrow72 opened #16 "Error [object 'TransformationResults' not found] when try code in Article"
When I try reproduce code from article https://www.remixinstitute.com/blog/automated-demand-forecasts-using-autocatboostcarma-in-r/#.XRNZaExuLvU
I have error:
[code]

[2019-06-26 13:37] AdrianAntico commented on #16
Go ahead and reinstall and give it another shot. Should be good to go now.

[2019-06-26 23:10] BadriPrudhvi commented on #16
Hi Adrian,
Firstly, this is a fantastic package. Thanks for your amazing work.

When I run my model, I am seeing this error. Please suggest.

Error in data.table::rbindlist(list(TransformObject, data.table::data.table(ColumnName = "Predict",  :
  object 'TransformObject' not found

[2019-06-26 23:41] AdrianAntico commented on #16
There was a missing if(TargetTransformation) before the operation listed in your error print out. I just updated the file. You'll need to reinstall. And thanks for the compliment!

[2019-06-27 13:50] Arrow72 commented on #16
Thanks! After reinstall it worked fine!

[2019-06-27 16:34] Arrow72 commented on #16
Hi, have new strange error on my own data:
[code]

[2019-06-27 16:41] Arrow72 commented on #16
in prev example i have SKU_CODE:number, and PARTNER_CODE:string
when i convert PARTNER_CODE tp number a have this:
[code]

[2019-06-27 17:17] BadriPrudhvi commented on #16
The previous issue got fixed after I reinstalled the package. However, I am seeing this new issue. Please help.

`999:	learn: 24.2476734	test: 56.4998953	best: 56.4998953 (999)	total: 1m 20s	remaining: 0us

bestTest = 56.49989532
bestIteration = 999

Dataset is provided, but PredictionValuesChange feature importance don't use it, since non-empty LeafWeights in model.
[1] "Forecast future step:  1"

[2019-06-27 17:59] AdrianAntico commented on #16
Can you guys send over an example (subset of your data) that I can run? This will make troubleshooting a lot easier. If you have several examples, send them all over. Make sure the data types are exactly what you want.

[2019-06-27 18:12] BadriPrudhvi commented on #16
Hi Adrian,

I am just using the code snippet in the examples to test the function

`
library(RemixAutoML)
library(data.table)

data <- data.table(DateTime = as.Date(Sys.time()),
                   Target = stats::filter(rnorm(1000 ,mean=50, sd=20), filter=rep(1,10), circular=TRUE))
data[, temp := seq(1:1000)][, DateTime := DateTime - temp][, temp := NULL]
data <- data[order(DateTime)]
Results <- A

[2019-06-27 20:05] AdrianAntico commented on #16
Can you try changing the target variable name to something other than "Target"?

[2019-06-27 20:44] BadriPrudhvi commented on #16
I have changed and tried but I see the same issue.

[2019-06-28 00:41] spsanderson commented on #15
I'll give it a try, thank you.

On Tue, Jun 25, 2019 at 9:54 AM Adrian <notifications@github.com> wrote:

--
Steven P Sanderson II, MPH
Book on Lulu <http://goo.gl/lmrlFI>

[2019-06-28 03:42] AdrianAntico commented on #15
If it doesn't work, can you let me know a little bit more about your system, R environment, etc.

[2019-06-28 04:09] AdrianAntico commented on #16
@BadriPrudhvi  I was able to track down the error. Internally, for the modeling case without a grouping variable, the AutoCatBoostScoring() function call had an argument that was named incorrectly (was FeatureColNames when it should have been FeatureColumnNames). Go ahead and reinstall and it should work fine. The code snippet below should run faster if you want to confirm results a bit faster.

T

[2019-07-01 13:47] #16 closed

[2019-07-01 13:47] #15 closed

[2019-07-01 15:00] spsanderson commented on #15
Sure thing.
[code]

[code]

[2019-07-02 08:49] DimitriF opened #18 "Error [SSL: no alternative certificate subject name matches target host name 'www.remixinstitute.com']"
Hello,
Just had this error with the AutoTS function, it was working yesterday. I could fix it by commenting the image_read of the logo this way lines 3614 of the AutoTS.R file and rebuilding the package.
[code]

[2019-07-02 13:58] DougVegas commented on #18
Yes, you could comment out that section as it just adds the RemixAutoML logo to the plot. It's not necessary for AutoTS to run however.

The reason why it was error-ing out was because RemixInstitute.com was down on Sunday 6/30/19 and half of Monday 7/1/19. If you run that section now, it will work since RemixInstitute.com is up.

[2019-07-02 13:59] #18 closed

[2019-07-02 14:23] djhernanv opened #19 "Error in read.dcf(path) : Found continuation line starting ' c(person(given = ...' at begin of record."
**Error**
The command
``devtools::install_github('AdrianAntico/RemixAutoML', upgrade = FALSE, dependencies = FALSE, force = TRUE)``
throws the error:
``Error in read.dcf(path) :
  Found continuation line starting '    c(person(given = ...' at begin of record.``

**Similar Issues**
I think that it might be due to an issue with the description files as it was the case in [here](https://github.com/r-

[2019-07-02 16:25] AdrianAntico commented on #19
That has happened to me before. You might need to just restart your computer

[2019-07-02 16:28] AdrianAntico commented on #19
Also could be a new dependency to the Matrix package I recently added. It wasn't in the DESCRIPTION file but I just added it.

[2019-07-02 17:13] eafpres commented on #19
I'm having the same behavior on an RStudio instance on a Windows VM.

[2019-07-02 17:21] AdrianAntico commented on #19
I was able to install from github just now. The only time I had this issue I restarted my computer and it worked fine afterwards. I'm not sure what the underlying cause is, however. As @djhernanv referenced, [Link to broader issue](https://github.com/r-lib/devtools/issues/1900). I see a lot of focus on the DESCRIPTION file but that can't be true, otherwise I would be getting the same error. Have y

[2019-07-02 17:43] eafpres commented on #19
OK, so in the broader issue, there is this:
Digging into this, I found this problem has been fixed here in the remotes package. Until that makes it into CRAN, you can update remotes to the right point using

devtools::install_github("r-lib/remotes", ref = "e56a41e1d0cad55cbe7d60b274b99ab7b7a76b5c")
so I ran:

remotes::install_github('AdrianAntico/RemixAutoML', upgrade = FALSE, dependencies = FALSE

[2019-07-02 17:48] AdrianAntico commented on #19
I see the "magick" package wasn't listed in the install script. I just updated that. Do the remote folks have an explanation as to why devtools works on some but not on all?

[2019-07-02 18:11] eafpres commented on #19
I'm unsure on the devtools vs. remotes issue; the post said "it was fixed in remotes", which implies there is something wrong in devtools.  That's over my head :-).

There were also several instances where "fixing" indent "fixed" it but that may be random?

[2019-07-02 18:14] AdrianAntico commented on #19
Really odd. I'll make a note in the install script portion of the README to reference this issue if the user is having trouble with installing the package using devtools. Thanks for you help on this!

[2019-07-02 18:23] eafpres commented on #19
Thank you for the instant response!  I just found your package and website last night.  Great stuff!

[2019-07-02 19:01] djhernanv commented on #19
Hi @AdrianAntico and @eafpres!
Thank you very much for your quick answer! I finally brought it to work. Let me tell you the steps to better understand the underlying issue:

1. I just tried reinstalling to see if the updates in the documentation worked. It didn't install.
2. I updated remotes and magick and tried again. It didn't work.
3. I restarted the R session. It didn't work.
4. I restarded R

[2019-07-02 19:31] AdrianAntico commented on #19
@djhernanv Thanks for your response. I've had some issues with RStudio, mostly with creating and opening Projects. I'm still able to install the package with devtools so not sure if my results mean anything, but I just checked out installing on the regular R GUI and it worked fine, with devtools. Great suggestion!

[2019-07-02 20:23] #19 closed

[2019-07-04 08:05] MislavSag opened #20 "AutoCatBoostCARMA problems with t + 2 predictions"
Hi again,

I tried your AutoCatBoostCARMA function. It seems, there is something wrong with t +2,.. predictions. Here is sample of my data:
[code]
And here is your function:
[code]
Results are:
[code]
For t +2 and forward results are NA and -1.

The same thing happens on bigger sample.

P.S. I would like to add LSTM time series prediction code to your arsenal. Do you agree with that and do you hav

[2019-07-04 15:36] AdrianAntico commented on #20
@MislavSag Just made the fix. Looks like there was an issue with the updating step for the non-grouping case, along with something in the return portion at the end of the function. Your code should run fine now.
Also, I'm okay with others adding functions to the package. I'll want to look through what you're submitting to ensure it fits nicely in the "AutoML" concept. If everything is good, I'll c

[2019-07-04 19:58] MislavSag commented on #20
Now I get an error:

[code]

...
Ok, I will write a function and send you so you can try it out.

[2019-07-04 20:07] AdrianAntico commented on #20
I think the problem is with the transformation. A few things with that: on non-grouped data, the transformation is usually a bad choice as the predictions can be really bad whereas for grouped data, the transformation almost always works better. Second, when I ran through a simple non-grouping example, the transformed values were all the same afterwards. So I'd try again with TargetTransformation

[2019-07-04 20:12] AdrianAntico commented on #20
I might end up automatically turning off the transformation functionality unless grouping variables are included. Need to test out some more, however, as I'm not sure if it's simply not having a grouping variable or if there just isn't enough total data.

[2019-07-05 17:19] eafpres opened #23 "AutoXGBoostClassifier sometimes rejects "f" metric"
I am running the following:

`  xgboost_results <-
    AutoXGBoostClassifier(data = cbind(train_x_data,
                                       act = train_y_data[, 1]),
                          ValidationData = cbind(val_x_data,
                                                 act = val_y_data[, 1])[1:(ceiling(nrow(val_x_data) / 2)), ],
                          TestData = cbind(val_x_data,

[2019-07-05 17:36] AdrianAntico commented on #23
I just had to make a small change. In the AutoXGBoostClassifier() function, the grid_eval_metric is used to determine which of the models built in the grid search is the winner. Based on the error output, "metric" was being used instead of "grid_eval_metric" like the rest of the function was using. I fixed that and you should be good to go once you re-install.

Thanks for letting me know!

[2019-07-05 17:50] AdrianAntico commented on #23
Turns out that AutoCatBoostClassifier() had the same issue. Just fixed that one too.

[2019-07-05 17:53] eafpres commented on #23
I will reinstall and verify; if OK I will close this.  Thank you for taking care of this so quickly.

[2019-07-05 18:15] eafpres commented on #23
Confirmed it now works.

[2019-07-05 18:15] #23 closed

[2019-07-06 18:32] #20 closed

[2019-07-07 01:39] fabienrolland commented on #15
When i run
# Run to install RemixAutoML
devtools::install_github('AdrianAntico/RemixAutoML',
                         upgrade = FALSE,
                         dependencies = FALSE,
                         force = TRUE)

I get the followring error

ERROR: dependencies 'magick', 'nortest' are not available for package 'RemixAutoML'
* removing 'C:/Users/myname/Documents/R/R-3.6.1/library/RemixAutoM

[2019-07-07 01:50] AdrianAntico commented on #15
This is an interesting one... Did you try installing magick and nortest individually and if so, were they able to install? I've had some people get back to me that they had to install a few of dependency packages one by one in order to get them installed and once they were they were able to install RemixAutoML.

[2019-07-07 01:55] fabienrolland commented on #15
i think i got it to work with your help. Thanks very much

[2019-07-07 02:01] AdrianAntico commented on #15
No worries!

[2019-08-19 20:49] MislavSag commented on #20
After some time, I have tried the function again. I have only 2 columns: date and numeric vector. I don't use grouping. It looks like this:
Results <- AutoCatBoostCARMA(x,
                             TargetColumnName = "value,
                             DateColumnName = "datum",
                             GroupVariables = NULL,
                             FC_Periods = forecast_periods,

[2019-08-19 20:58] AdrianAntico commented on #20
Same data as before?

[2019-08-19 21:01] AdrianAntico commented on #20
Can you try using RMSE instead of MAE for EvalMetric? I noticed an issue with CatBoost when using MAE...

[2019-08-20 07:18] MislavSag commented on #20
Yes, same data set. Only deference is that this time I set `TargetTransformation = FALSE`. It behaves the same on larger data set.

[2019-08-20 08:14] MislavSag commented on #20
Whats the deference between your `AutoH2oGBMCARMA()` and H2o automl function?

[2019-08-20 19:21] DougVegas commented on #20
Per Adrian's reply, the AutoH2oGBMCARMA() function in RemixAutoML leverages the AutoH2oGBMRegression() function from RemixAutoML under the hood.

The difference between AutoH2oGBMRegression from RemixAutoML and the h2o.automl from H2O is that the former uses the H2O GBM model and fully optimizes it and the latter can use several other models in addition to GBM (Random Forest, Deep Learning, Stacke

[2019-08-20 20:52] MislavSag commented on #20
OK, thanks for explanation.

what about my first question. Why do I get so strange predictions for univariate time series when using `AutoH2oGBMCARMA()`?

[2019-08-20 20:55] AdrianAntico commented on #20
I'm pretty sure that's happening because you have the EvalMetric set to MAE which is currently not working on the CatBoost side (I assume you mean AutoCatBoostCARMA based on your previous post). Have you tried using RMSE instead? I had to switch a few models to RMSE because of that. I'm keeping an eye on the CatBoost issue log to see when they fix that.

[2019-08-20 22:01] MislavSag commented on #20
I tried to use RMSE and got the same strange results. But when I tried mannualy:
[code]
first prediction is rational (didn't tried following predictions (t +2...) for updated tables).

[2019-08-20 23:14] AdrianAntico commented on #20
Can you paste in or link the source data? I'll give it shot when I get home from work and see if I can get to the bottom of this.

[2019-08-22 04:17] AdrianAntico commented on #20
@MislavSag

After thinking more about this, I think the problem may lie with the data and what the AutoCARMA functions can currently support. Currently, the data must be complete, as in, no missing dates in the time series interval. With stock data, there is typically only 5 days a week of data, then it skips the weekends, and then continues. I have plans to handle that type of data eventually.

[2019-08-22 07:24] MislavSag commented on #20
Sample:
[code]
CARMA function:
[code]
I got an error:
[code]

[2019-08-22 15:18] AdrianAntico commented on #20
I fixed the FC_Periods = 1 issue. As for the odd predicted values, there's a few things to note:
* Using MAE is an issue with CatBoost currently; I'd recommend setting EvalMetric = "RMSE"
* To get better predictions, you will want to use more trees (try 1000 or greater)
* The AutoCARMA suite is likely not your best option for a single time series unless the single series has a lot of data. You sho

[2019-08-23 07:21] MislavSag commented on #20
I tried again with your recommendations and now it works fine.

[2019-09-24 03:27] Bartesto opened #31 "AutoKMeans unused argument"
Hi,
Working through your Package Overview course and ran into problems running the ``AutoKMeans()`` example on the Iris data set.

It gives me the following:
 ``Error in AutoKMeans(data, nthreads = 8, MaxMem = "28G", SaveModels = NULL,  :
  object 'FilePath' not found``

Under the hood
``if (!is.null(FilePath)) {
    if (!is.character(FilePath)) {
      warning("FilePath needs to resolve to a char

[2019-09-24 03:35] AdrianAntico commented on #31
@Bartesto Thanks for bringing that up! Looks like I must have changed the name of that argument a while back but didn't update the argument checks at the beginning of the function. I just changed the named in the check to match the argument. Should work fine. Let me know if there is still an issue.

[2019-09-24 03:38] #31 closed

[2019-09-24 04:34] Bartesto commented on #31
No worries Adrian! Great package by the way.

[2019-09-24 04:50] AdrianAntico commented on #31
@Bartesto thank you!!

[2019-10-11 06:40] larasatiayudia opened #32 "Error: package or namespace load failed for 'RemixAutoML' in library.dynam(lib, package, package.lib): DLL 'RemixAutoML' not found: maybe not installed for this architecture?"
Hello, i tried installing the package but always failed with error:
**Error: package or namespace load failed for 'RemixAutoML' in library.dynam(lib, package, package.lib):
 DLL 'RemixAutoML' not found: maybe not installed for this architecture?**

I already installed all the dependencies and have no idea where things went wrong. My R env:
R version 3.6.1 (2019-07-05) -- "Action of the Toes"
Platf

[2019-10-11 06:48] AdrianAntico commented on #32
@larasatiayudia I just updated the namespace. You should be able to install now. Let me know if you have any problems and thanks for creating the issue.

[2019-10-11 06:50] #32 closed

[2019-10-11 07:02] larasatiayudia commented on #32
@AdrianAntico  it works now, thank you very much!

[2019-10-11 07:28] AdrianAntico commented on #32
No problem... Best of luck!

[2019-10-14 07:45] larasatiayudia opened #33 "Error in paste0("Calibration Evaluation Plot: ", toupper(eval_metric), : object 'BaseModelEval' not found"
Hi i am trying to compare AutoTS() , AutoCatBoostCARMA() , AutoXGBoostCARMA() , AutoH2oDRFCARMA() , and AutoH2oGBMCARMA() on a single time series.
AutoTS() , AutoCatBoostCARMA() , AutoXGBoostCARMA() works perfectly fine, but when i tried to run **AutoH2oDRFCARMA** and **AutoH2oGBMCARMA** an error message shown as follow:

**Error in paste0("Calibration Evaluation Plot: ", toupper(eval_metric),  :

[2019-10-14 07:58] AdrianAntico commented on #33
@larasatiayudia I'm guessing the issue is the line #SplitRatios is commented out. The function is expecting to partition the data based on those values. Can you run it again without commenting it out to see if that works?

[2019-10-14 08:01] larasatiayudia commented on #33
i already comment that out and rerun the code. Unfortunately there is no change, the error still showed up

[2019-10-14 08:31] AdrianAntico commented on #33
Can you try running it with TargetTransformation = FALSE

[2019-10-14 08:40] larasatiayudia commented on #33
I have tried it and nothing changes, the error message is same

[2019-10-14 09:44] AdrianAntico commented on #33
Can you download the package again and try again?

[2019-10-14 10:10] larasatiayudia commented on #33
i just did reinstalling as you said by this code:

if ("RemixAutoML" %in% rownames(installed.packages())) { remove.packages("RemixAutoML")}
devtools::install_github('AdrianAntico/RemixAutoML', upgrade = FALSE, dependencies = FALSE, force = TRUE)

i restart the R session too, but still nothing changes. The error message become longer:

Error in paste0("GBM Calibration Evaluation Plot: ", toupper(ev

[2019-10-14 10:15] AdrianAntico commented on #33
Try the AutoH2oDRFCARMA version

[2019-10-14 21:19] AdrianAntico commented on #33
@larasatiayudia This should be fixed now. You'll have to reinstall the package for the changes to take effect. Let me know if you still have trouble.

[2019-10-14 21:23] #33 closed

[2019-10-15 01:20] larasatiayudia commented on #33
I tried reinstalling and run it again but the error still showed again. Then i tried changing the EvalMetrics from "MAPE" to "MAE" and it works. My question now is in the time series plot generated, the title showed the number of MAPE but my eval metrics are MAE, is it really the MAPE number or is it actually MAE? And a little bit advise maybe you should remove the "MAPE" option in the documentati

[2019-10-15 01:25] AdrianAntico commented on #33
Better yet, why not figure out what the issue is and make a pull request?

[2019-10-21 06:24] lejarx opened #34 "undefined exports: AutoXGBoostClassifier"
Downloading GitHub repo AdrianAntico/RemixAutoML@master
√  checking for file 'C:\Users\User1\AppData\Local\Temp\RtmpKc3aCz\remotes5c4cb56ae4\AdrianAntico-RemixAutoML-7563aa0/DESCRIPTION' (452ms)
-  preparing 'RemixAutoML': (351ms)
√  checking DESCRIPTION meta-information ...
-  checking for LF line-endings in source and make files and shell scripts
-  checking for empty or unneeded directories
-

[2019-10-21 06:31] AdrianAntico commented on #34
@lejarx Hi, sorry about that. I was working on something. You should be able to install without issue now.

[2019-10-21 06:34] lejarx commented on #34
Hi @AdrianAntico , no worries, I'm very thankful for the package :). Thanks again! Successfully installed now.

`DONE (RemixAutoML)`

[2019-10-21 06:34] #34 closed

[2019-10-21 06:45] AdrianAntico commented on #34
@lejarx Best of luck!

[2019-10-22 05:42] lejarx opened #35 "AWS sagemaker instance, fedora: cannot find -lMagick++, cannot find -lMagickCore"
[code]
I'm trying to install the R package on a AWS sagemaker instance which uses fedora distribution.
I've made sure to install magick by invoking
`sudo yum install ImageMagick-c++-devel`

However I keep getting cannot find-lMagick++ and -lMagickCore, which is a prerequisite to install RemixAutoML.

Anyone has encountered the same and found a solution?

Thanks

[2019-10-22 06:01] AdrianAntico commented on #35
@lejarx I have a solution. I just eliminated the magick dependency. I had a single line of code in the AutoTS function to insert an image into the output plot but it's something that isn't necessary and I wasn't exactly impressed with it. I removed that line of code and removed the dependency on the DESCRIPTION file.

[2019-10-22 06:24] lejarx commented on #35
@AdrianAntico it's successfully installed now. Thanks bunch!

[2019-10-22 06:32] #35 closed

[2019-10-23 03:56] AdrianAntico commented on #35
@lejarx Any chance you can share your insights about installing the package on AWS? I think that would be really helpful to other users. If you would be interested in writing a blog about it I can feature it on our website as well. If you want to remain anonymous I can post it without any of your info. Let me know!

[2019-10-23 04:11] lejarx opened #36 "NumCores parameter"
Hi @AdrianAntico,

I'm running a machine with 36 cores and 64 gb ram.

However I notice that the runtime don't seem to be any faster than my laptop with 8 cores and 8 gb ram.

I've made sure to update the NumCores parameter though.

Is this a known issue? Thanks

[2019-10-23 04:24] AdrianAntico commented on #36
@lejarx Which functions are you testing? How big is your data (row count / columns count)? Does the machine have GPU or not? If so, which type and how many?

[2019-10-23 05:55] lejarx commented on #36
@AdrianAntico The machine spec is
Intel(R) Xeon(R) CPU E5-2666 v3 @ 2.90GHz
36 cores
64GB RAM

I'm running the Walmart dataset (380,380 rows) based on this blogpost
https://www.remixinstitute.com/blog/why-machine-learning-is-more-practical-than-time-series-in-the-real-world/#.Xa6ex-gzZPY

But for some reasons, I don't see the expected increase in speed after running on the bigger machine.

[2019-10-23 06:35] lejarx commented on #36
@AdrianAntico please ignore, I think the issue is with the instance itself. Thanks

[2019-10-23 06:35] #36 closed

[2019-10-23 07:17] AdrianAntico commented on #36
@lejarx No worries. I would love to hear about the speedups. If you are utilizing the CARMA functions, you should see a nice speedup with CPU as CatBoost, XGBoost, and H2O all benefit with more cores. If you have a machine with GPU available, you can see an even greater speedup with CatBoost and XGBoost (if you installed them to enable GPU). The AutoTS function should see a bit of speedup due to t

[2019-10-26 12:25] lejarx opened #37 "Microsoft R Open: Error in utils::download.file(url, path, method = download_method(), quiet = quiet, : cannot open URL"
`Downloading GitHub repo AdrianAntico/RemixAutoML@master
Error in utils::download.file(url, path, method = download_method(), quiet = quiet,  :
  cannot open URL 'https://api.github.com/repos/AdrianAntico/RemixAutoML/tarball/master'`

I want to try Microsoft R Open (MRAN) as alternative to speed up R. Although I face this installation issue when I try to use Microsoft R.

Is this a known issue wit

[2019-10-26 18:41] AdrianAntico commented on #37
@lejarx I haven't tried using RemixAutoML on MRAN. The error message isn't really helpful either. Were you able to download all the dependency packages?

[2019-10-27 08:06] lejarx commented on #37
@AdrianAntico Yes, the other dependencies packages are ok except for catboost. It seems I can't install anything from custom location like Github.

For example, if I try to install the latest tidyverse from Github, it gives the same error
[code]

Assumming I'm still using CRAN (instead of MRAN), is there any tips to make the AutoTS() run faster?

[2019-10-27 09:29] AdrianAntico commented on #37
@lejarx if you're running it across groups, you could parallelize it so that you are building multiple series at the same time. Note that for several of the internal AutoTS functions, there is a num.core option for parallel building which gets utilized if you set StepWise to FALSE, but this actually increases run times as more models are built while looking for a winner. In general, MRAN won't be

[2019-10-27 09:29] #37 closed

[2019-10-27 10:03] lejarx commented on #37
@AdrianAntico thanks for your insightful answers. I settle with parallelizing across groups for now.

Yes, I also notice that setting StepWise into False, makes the run times much longer, especially when I'm including ARIMA as part of the models, as you mentioned.

Noted on the MRAN as well.

[2019-11-18 07:53] trancuuquoc opened #38 "Error message while running code for AutoCatboostCARMA"
Hi Adrian,
When I run the code, I get an error message:

Error in if (min(as.ITime(data[[eval(DateCols[i])]])) - max(as.ITime(data[[eval(DateCols[i])]])) ==  :
  missing value where TRUE/FALSE needed
In addition: Warning message:
All formats failed to parse. No formats found.

Any suggestion?

---------------

My code is:
library(RemixAutoML)
library(data.table)
data <- data.table::fread("x://Chec

[2019-11-18 09:47] AdrianAntico commented on #38
I see you are filtering for store / dept combos that have 138 records based on this line:
data <- data[, Counts := .N, by = c("Store","Dept")][
Counts == 138][, Counts := NULL]

The original article has is filtering for 143 records which is what 95% of the store / dept combos have. So my guess is that there are either no store / dept combos with 138 records or there are some but they have gaps in

[2019-11-19 17:02] #38 closed

[2019-12-13 04:16] trancuuquoc opened #39 "No Formats Found"
Hi Adrian,
When I run AutoCatboostCarma, I receive this error:
Error in if (min(as.ITime(data[[eval(DateCols[i])]])) - max(as.ITime(data[[eval(DateCols[i])]])) == :
missing value where TRUE/FALSE needed
In addition: Warning message:
All formats failed to parse. No formats found.
Can you help me to identify this error?
Thank you!
Quoc

[2019-12-13 05:11] AdrianAntico commented on #39
@trancuuquoc

My guess is that one of two things are wrong:
1. You may have not specified the TimeUnit argument correctly. I've seen this error before when I have weekly data and I accidentally specified "day" as the TimeUnit argument.
2. The inner function CreateHolidayVariables() may not be identifying the date column as a Date or POSIXct type.

I just added in some helper code that should preve

[2019-12-13 05:25] trancuuquoc commented on #39
Dear Adrian
I just try with the data in attachment of this email.

library(RemixAutoML)
library(data.table)

data <- data.table::fread("c:/Work_Station/Data.csv", header=TRUE,
sep=",",quote="")

keep <- c("Store","Article","Date","Quantity")
data <- data[, ..keep]

CatBoostResults <- RemixAutoML::AutoCatBoostCARMA(
  data,
  TargetColumnName = "Quantity",
  DateColumnName = "Date",
  GroupVariable

[2019-12-13 06:20] AdrianAntico commented on #39
@trancuuquoc I didn't receive any data via email. Send it to my email: adrianantico@gmail.com and I'll give it a go and see what the issue is and report back.

[2019-12-15 16:06] AldridgeCaleb opened #40 "NGBoost via reticulate/RemixAutoML?"
Curious about the possible availability of the natural gradient boost algorithm in R? Perhaps via the reticulate package as @AdrianAntico suggested here: https://github.com/stanfordmlgroup/ngboost/issues/14#issuecomment-547145022

[2019-12-15 16:12] #39 closed

[2019-12-15 18:56] AdrianAntico commented on #39
@trancuuquoc

I added the fix. Should work now. You'll have to reinstall the package of course for the changes to take effect.

[code]

[2019-12-15 19:03] AdrianAntico commented on #40
@AldridgeCaleb  I want to add this model to the package. The end goal is to have it available for regression, classification, and multiclass (if available, can't recall if it is), along with a CARMA version (my primary reason for wanting to add this model) and hurdle model.

I won't likely be getting to this until January or February as I'm working on adding some other functionalities currently.

[2019-12-16 02:09] pascaloettli opened #41 "shared object ‘RemixAutoML.so’ not found"
Hello,

I am probably doing something wrong, but when trying to install `RemixAutoML` following [these instructions](https://github.com/AdrianAntico/RemixAutoML#install-pacakge-dependecies-and-install-remixautoml), the installation fails with:

 shared object ‘RemixAutoML.so’ not found
Error: loading failed
Execution halted
ERROR: loading failed

This might be related to to #32, while slightly dif

[2019-12-16 18:11] AdrianAntico commented on #41
I was able to replicate the error but it should be fixed now. I used to have Rcpp dependencies but I no longer do. For some reason when I update the package the dependencies get added back into the description. So I removed those and was able to get it to download.

[2019-12-16 18:11] #41 closed

[2019-12-16 21:48] arth1996 opened #42 "AutoTS Function ERROR"
Hey,

I am trying to run the following code:

output <- AutoTS(kpi, TargetName = 'Reject Qty', DateName = 'month_year', FCPeriods = 3, HoldOutPeriods = 4, EvaluationMetric = 'MAPE', InnerEval = 'AICc', TimeUnit = 'month', Lags = 1, SLags = 1, SkipModels = c("NNET","TBATS","ETS","TSLM","ARFIMA","DSHW"), StepWise = TRUE, TSClean = FALSE, ModelFreq = TRUE, PlotPredictionIntervals = TRUE, PrintUpdates

[2019-12-16 22:21] AdrianAntico commented on #42
@arth1996 Can you supply some data so I can test your code? It can be fake data, just try to make it similar to the data you are using in the function...

[2019-12-16 22:23] DougVegas commented on #42
@arth1996 , it's also possible that the TargetName you're supplying might be problematic because it has a space. Could you also try testing it by replacing the space with an underscore? Or could you try passing the TargetName as "`Reject Qty`"?

[2019-12-17 01:02] AdrianAntico commented on #42
@DougVegas I just used the example in the help file (worked) then modified the target name to have a space in it, and it still worked. I'm wondering if the date column isn't recognized as a date column. I just had to deal with this on the CARMA functions for when date columns had a "/" in it and it was read in as a character column... Might need to add that correction to AutoTS. Seeing the users d

[2019-12-17 01:58] trancuuquoc opened #43 "Error in loadNamespace(name)"
For the new version, I got this message below:

there is no package called ‘RemixAutoAI’

[2019-12-17 02:38] AdrianAntico commented on #43
@trancuuquoc Should be good to go now

[2019-12-17 02:38] #43 closed

[2019-12-17 15:36] arth1996 commented on #42
[TempDATA.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/3974072/TempDATA.xlsx)

@AdrianAntico attached the fake data.

[2019-12-17 18:38] AdrianAntico commented on #42
@arth1996 Thanks for the heads up. I will look into it...

[2019-12-17 18:42] AdrianAntico commented on #42
@arth1996 Here's what the data looks like when I save as .csv and pull it into R

[code]

[2019-12-17 19:47] AdrianAntico commented on #42
Fixed the issue. The data you supplied wasn't liked much by most of the models. With the Arima model, if a model failed to build, it was stopping the function because a data object named Final_metrics wasn't created since no model was built. I added an existence check and it works fine now. However, I would set the SkipModels argument to NULL because I could only get the NNet and TBATS models to b

[2019-12-17 19:47] #42 closed

[2019-12-19 02:30] pascaloettli commented on #41
It now works. Thank you

[2019-12-19 03:33] AdrianAntico commented on #41
@pascaloettli No problemo

[2019-12-20 15:25] mbanco opened #44 "Regressor variables in CARMA models"
Hi Adrian,
Is it possible to include regressors in the CARMA models?

Best Regards

Mauricio

[2019-12-21 00:33] AdrianAntico commented on #44
@mbanco I am planning to release some significant features to the CARMA functions pretty soon. As for the regressors, there are two types and I will be releasing the first one from below and working on the second one.

Types of regressors for the CARMA suite:
1. User supplied values that span both historically and into the future. Basically the user needs to supply the historical values and values

[2019-12-22 15:36] mbanco commented on #44
Excellent job!

Thank you very much.

[2020-01-01 19:55] VladPerervenko opened #45 "Error Install"
`** building package indices
** installing vignettes
** testing if installed package can be loaded from temporary location
Error: package or namespace load failed for 'RemixAutoML' in namespaceExport(ns, exports):
 undefined exports: AutoXGBoostMultiClass`
Error in the package or for my part?

[2020-01-01 20:31] AdrianAntico commented on #45
@VladPerervenko  You should be good to go now. I fixed the imports.R file and had to update the roxygen2 header information for the XGBoost Multiclass function.

[2020-01-01 20:31] #45 closed

[2020-01-15 18:50] chalioui opened #46 "Prophet and fasster models"
Thank you for this great job! can you add prophet and fasster models in your autoTS function   (https://github.com/tidyverts/fasster, https://github.com/facebook/prophet )

[2020-01-16 18:07] spsanderson opened #47 "AutoXGBoostCARMA fails"
I am using the AutoXGBoostCARMA to forecast a time series. Yet when I do I get the following failure:
[code]
I run the following command:

[code]

My data is attached.
[tidy_model_tbl.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4072951/tidy_model_tbl.xlsx)

[2020-01-16 18:49] DougVegas commented on #46
Thank you @chalioui . One of our earlier prototype versions of AutoTS leveraged prophet but was removed in subsequent versions. We'll add this to the list of possible enhancements we can make to package.

[2020-01-23 17:46] spsanderson opened #48 "AutoKMeans produces 0 clusters"
When using the following function with the following parameters:

[code]

I get only 0 returned in the cluster column. Yet when I run a skree plot I can see that there are at least 3 or 4 as a good cut off.

[code]

The data is a user-item matrix form.

[customer_trends_tbl.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4104563/customer_trends_tbl.xlsx)

[2020-01-23 18:21] DougVegas commented on #48
Hi @spsanderson

Looking into issue now. However, I think the data set you provided isn't the correct one? You provided customer_trends_tbl but the AutoKMeans example uses a data set named customer_product_tbl

I can't reproduce the error because there is no column called bikeshop_name

[2020-01-23 18:24] spsanderson commented on #48
Oh boy let me look into it and fix

Steven P Sanderson II, MPH

On Thu, Jan 23, 2020, 1:21 PM DougVegas <notifications@github.com> wrote:

[2020-01-23 18:26] spsanderson commented on #48
[customer_product_tbl.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4104806/customer_product_tbl.xlsx)

This is the correct file

[2020-01-23 20:18] AdrianAntico commented on #48
@spsanderson Why is the data in the form that it is? What do the values in each column represent?

[2020-01-23 20:19] spsanderson commented on #48
proportions of purchases of each bike model from a bikeshop

[2020-01-23 20:21] AdrianAntico commented on #48
I wouldn't aggregate the data before running k-means. I would use the transactional data

[2020-01-23 20:22] spsanderson commented on #48
I will try it and report back

[2020-01-23 20:22] AdrianAntico commented on #48
Sounds good

[2020-01-23 20:30] spsanderson commented on #48
My data looks like the attached, should I make my data strictly the quantity column (this is what I am aggregating)

[bike_orderlines_tbl.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4105301/bike_orderlines_tbl.xlsx)

[2020-01-24 03:33] spsanderson commented on #48
So with the following code and attached data I get 2 clusters 0 and 1, it should really be at least 4. Which is what I get from the method posted in the original post.

[code]

[customer_trends_tbl.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4106707/customer_trends_tbl.xlsx)

[2020-01-27 00:46] prankie commented on #43
Hi, I'm still getting the following error when running AutoCatBoostClassifier.

Error in loadNamespace(name) : there is no package called ‘RemixAutoAI’

[2020-01-27 02:35] AdrianAntico commented on #43
@prankie I just removed that dependency. Go ahead and reinstall and you should be good to go. Let me know if you catch anything else! Thanks

[2020-01-27 04:04] AdrianAntico commented on #48
@spsanderson I would start tinkering with the arguments. What's going on internally is that a GLRM model from H2O is built first (for the purposes of dimensionality reduction) and you select the number of factors from that to keep and pass on to the KMEANS algo from H2O, which will run to find the optimal k using the factors data from the GLRM.

If you go through the help file (?RemixAutoML::AutoK

[2020-01-27 11:47] spsanderson commented on #48
Thanks for the update I will take through and take a look. And see what I
can come up with.

Steven P Sanderson II, MPH

On Sun, Jan 26, 2020, 11:04 PM Adrian <notifications@github.com> wrote:

[2020-01-27 17:19] spsanderson commented on #48
Working through it. Seems that even on the Iris dataset the h2o::kmeans is only producing 2 clusters when we know there are 3. I forked and cloned repo. Will work on it.

[2020-01-31 06:40] AdrianAntico commented on #47
@spsanderson Thanks for bringing this up. I have some upgrades for the carma functions that I'm going to be releasing soon.

[2020-01-31 12:04] spsanderson commented on #47
Excellent!

Steven P Sanderson II, MPH

On Fri, Jan 31, 2020, 1:40 AM Adrian <notifications@github.com> wrote:

[2020-02-11 01:01] DrRoad opened #49 "AutoCatBoostCARMA Error"
Error in data.table::rbindlist(list(UpdateData[ID != 1], Temporary), use.names = TRUE) :
  Item 2 has 62 columns, inconsistent with item 1 which has 63 columns. To fill missing columns use fill=TRUE.

[2020-02-11 01:09] AdrianAntico commented on #49
@DrRoad Thanks for bringing this up. I have a new release coming soon with upgrades to all the CARMA functions. I'm skipping out on fixing the current versions (there's an issue with the xgboost version as well) because they are so far behind it just doesn't make sense at this point to fix. I'm working on the QA for those upgrades currently. It takes a few weeks to run through all the test cases a

[2020-02-11 01:10] DrRoad commented on #49
Thank you. I have also met the similar issue in AutoH2oDRFCARMA and other time series ML functions. Look forward to your new release.

[2020-02-11 01:13] AdrianAntico commented on #49
@DrRoad I usually don't make this many upgrades before releasing to the package but this set of upgrades kind of required me to finish all of them before releasing so thank you for your patience. I hope you like the new versions when they come out. Also, I do have more plans to keep enhancing them over time but some of the changes will be pretty tricky so I'll get to them on subsequent releases.

[2020-02-11 01:18] DrRoad commented on #49
That's great. I am R developer and I am happy to get involved if there is anything I can help.

[2020-02-11 01:26] AdrianAntico commented on #49
Thanks @DrRoad

Shoot me an email at adrianantico@gmail.com - I'd love to get more people involved! There's so much more to add / enhance to the package. I have a road map for 2020 on the areas I'd like to get to. I'm happy to share that with you and get any ideas you may have :)

[2020-02-23 22:02] #48 closed

[2020-02-24 00:40] AdrianAntico commented on #44
@mbanco new carma models have this starting on release 0.2.0+. Currently, only AutoCatBoostCARMA() is ready but the others are almost passing all tests.

[2020-02-24 00:40] #44 closed

[2020-02-24 00:41] AdrianAntico commented on #49
@DrRoad release 0.2.0 has AutoCatBoostCARMA() working with many new features. The H2O and XGBoost versions are close behind. Just need to pass all the tests.

[2020-02-24 00:41] #49 closed

[2020-02-24 00:42] AdrianAntico commented on #46
@chalioui Check out the new AutoBanditArima() model I just released... Let me know if you have any new ideas based on the release of that.

[2020-02-24 00:46] mbanco commented on #44
Excellent job!! Thank you very much!!

El dom., 23 de feb. de 2020 21:40, Adrian <notifications@github.com>
escribió:

[2020-02-24 02:23] DrRoad opened #50 "Error in loadNamespace(name) : there is no package called ‘RemixAutoAI’"

[2020-02-24 02:34] AdrianAntico commented on #50
@DrRoad Can you try to install again for me? I just did several find and replaces. I have a private repo called RemixAutoAI that I use to test these out on before I move over here. I won't get the error however since I have the AI version on my local...

[2020-02-24 02:42] DrRoad commented on #50
![2020-02-24_154126](https://user-images.githubusercontent.com/8111532/75125870-29c99900-571c-11ea-909e-8e527710f995.png)
I got this fatal error after reinstalling and rerunning the AutoCatBoostCARMA example

[2020-02-24 03:17] AdrianAntico commented on #50
That happens when you run it without data. The example in the help file is to show you how to set up the arguments. Data doesn't come with the function.

[2020-02-24 03:22] #50 closed

[2020-02-25 07:45] MislavSag opened #51 "Error in as.POSIXlt.numeric(x, tz = tz(x)) : 'origin' must be supplied"
Data:
[code]
If I try `AutoTs` fucntion:
[code]

I get error
`Error in as.POSIXlt.numeric(x, tz = tz(x)) : 'origin' must be supplied`

I tried to set origin but doesn't help:
`data$date <- as.POSIXct(data$date, format='%Y-%m-%d %H:%M:%S', origin='1970-01-01 00:00.00 UTC', tzone='GMT')`

[2020-02-25 17:43] AdrianAntico commented on #51
@MislavSag You should be good to go now. I was able to get your code running. You'll have to reinstall and restart R to get it going.

[2020-02-25 17:43] #51 closed

[2020-02-25 19:18] sabillonchris opened #52 ""'ModelName' not found" Error when skipping TBATS"
Getting an error with the AutoTS function when listing TBATS under SkipModels

[code]

[2020-02-25 19:30] AdrianAntico commented on #52
What's the code you used to run the function?

[2020-02-25 21:57] DougVegas commented on #52
Attaching dummy data and code

[DummyData.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4252382/DummyData.xlsx)

[code]

[2020-02-25 22:12] AdrianAntico commented on #52
![image](https://user-images.githubusercontent.com/42076988/75292296-1c2a1700-57e1-11ea-9808-70908917b367.png)

Looks like the models you allowed to fit couldn't build

[2020-02-25 22:12] #52 closed

[2020-03-03 22:18] MislavSag commented on #51
Now it returns:

Sample:
data <- structure(list(date = structure(c(885394380, 885394440, 885394500,
                                          885394560, 885394620, 885394680, 885394740, 885394800, 885394860,
                                          885394920, 885394980, 885395040, 885395100, 885395220, 885395280,
                                          885395400, 885395520, 885395640, 885395700

[2020-03-04 02:17] AdrianAntico commented on #51
@MislavSag Alright... I fixed the issue. Had to wrap a few tryCatch's around a few more of the forecast:: functions. The problem was that if any of those failed it caused the function to fail. Hasn't been an issue till now. Nonetheless, it should be good to go!

[2020-03-04 02:28] AdrianAntico commented on #47
@spsanderson The AutoXGBoostCARMA() function is good to go. Keep in mind, there are some new arguments so check out the help file - I have an example setup of the function with the arguments grouped by purpose.

[2020-03-04 02:28] #47 closed

[2020-03-04 23:10] #46 closed

[2020-03-08 16:57] MislavSag commented on #51
I am still geting the same error after installing the package again.

[2020-03-08 17:35] AdrianAntico commented on #51
@MislavSag I'm not sure how you setup AutoTS to run, but this is working for me.

[code]

[2020-03-09 09:03] MislavSag commented on #51
Doesn't work with this data:
[code]

[2020-03-10 00:54] AdrianAntico commented on #51
@MislavSag I made another change and it should run for the data above that you posted.

[2020-03-10 21:43] MislavSag commented on #51
@AdrianAntico , now I get the following error (message):

I can't send you data because it has around 4200 rows. Maybe I can send you via email?

[2020-03-10 21:57] AdrianAntico commented on #51
I would start with sharing the setup of the function... First I need to see if the TimeUnit you supplied is correct and if it is, then I'd need to see if there is anything wrong with the data. If nothing is wrong with the data, then it has to be something about converting the data to a time series object... Feel free to email me though: adrianantico@gmail.com

[2020-03-26 00:32] Shafi2016 opened #53 "Prediction interval with XGBoost"
Currently, I think AutoH2OModeler does not have the option for quantile regression. H2o has a quantile regression for GBM only so far and this option is not available for XGBoost. Do you have a plan to add a prediction interval for XGBoost with H2o? Or there is any way we can do it.

I tried to find lower and upper interval using the function from this (https://towardsdatascience.com/regression-pr

[2020-03-26 00:39] AdrianAntico commented on #53
@Shafi2016 I'm not currently doing anything with the AutoH2OModeler() function. I have quantile regression available with that function if you use h2o gbm or h2o DL. You can also use AutoH2oGBMRegression() and AutoCatBoostRegression() for quantile regression by setting the Alpha argumenty, although I believe h2o returns better results. I do not have any current plans to add in quantile regression

[2020-03-26 00:39] #53 closed

[2020-03-26 00:45] Shafi2016 commented on #53
Thanks, Adrian for the prompt response. Let me check it with the AutoH2oGBMRegression(). If I can get what I am looking for.  I have the same conclusion that h2o XGBoost provides better accuracy and is much better than the other packages. I checked almost every package both in python and R.

[2020-03-26 00:49] AdrianAntico commented on #53
@Shafi2016 I know with XGBoost I just need to set up a pinball loss function and then XGBoost can deliver quantile regression. I just haven't spent the time on that at this point.

[2020-03-26 00:51] Shafi2016 commented on #53
That will be a good addition. As currently, this is not available for XGBoost in any package of R and Python.

[2020-03-29 23:19] mbanco opened #54 "Error in AutoXGBoostRegression function"
Hi Adrian,
there is an error with this code:

+                                               sqrt(1-Correl^2) * qnorm(x2)))]

+                                            sqrt(1-Correl^2) * qnorm(x2)))]

+                                               sqrt(1-Correl^2) * qnorm(x2)))]

+                                                   sqrt(1-Correl^2) * qnorm(x2))))]

+

[2020-03-30 00:04] AdrianAntico commented on #54
@mbanco Change the target variable name to something else. The function runs into error when the name Target is used for the target variable.

[2020-03-30 00:04] #54 closed

[2020-04-02 01:48] AjayKMehta opened #55 "Error installing package"
Thanks for your work in creating this library.

I tried to install the package using the instructions in README.md but I am getting the following error:

[code]

There is a missing ')' in `forecast::findfrequency(data_train[, get(names(data_train)[2L]]` in EconometricsFunctions.R.

[2020-04-02 01:50] AdrianAntico commented on #55
@AjayKMehta  I see the error. Give a few minutes. I made an update to that today. Looks like I forgot a parenthesis

[2020-04-02 01:56] AdrianAntico commented on #55
@AjayKMehta give it a try now. Should be good to go

[2020-04-02 02:40] #55 closed

[2020-04-02 03:21] AjayKMehta commented on #55
It works fine now. Thanks!

[2020-04-02 05:18] AdrianAntico commented on #55
@AjayKMehta No problem. Let me know if you have any questions about the package

[2020-04-02 15:30] AjayKMehta commented on #55
@AdrianAntico I plan to check this out when I have some free time. Will definitely reach out if I have any questions.

[2020-04-08 19:16] MislavSag opened #56 "Using beste model for future predictions"
Hi @AdrianAntico,

I have just tried `AutoBanditSarima` functin on hourly data. Everything works fine. This is my best model:

[code]
The question is, how can I use this model in the future, for the prediction? I have parameters here, but from which package is the main function?

[2020-04-08 19:29] AdrianAntico commented on #56
That's a good question - The way I've done forecasting in the past is to
rebuild the model when new data is available. So when you run the function
you will get the actual forecast along with the winning parameters which
are intended to help you set the function arguments going forward. If you
going into the file EconometricFunctions.R you can look under the hood.
Here's a screenshot of the actual

[2020-04-09 05:34] AdrianAntico commented on #56
@MislavSag I'm going to add this to the help file for the function as well.

1. DataSetName - ModelFrequency means that I used forecast::findfrequency() to define the periodicity of the time series data (versus user-supplied)
2. BoxCox - "skip" means I didn't use it
3. IncludeDrift - TRUE or FALSE in forecast::Arima()
4. SeasonalDifferences - 0, 1, 2, ... Set to 0 by default as values > 0 can caus

[2020-04-09 13:28] MislavSag commented on #56
@AdrianAntico ,

sou you fit `AutoBanditSarima` whenever new observation comes in? This is a good approach if the frequency is low. But if I have, let's say one-minute data and big table, I don't have time to recalculate it every minute.

It would be great feature if the final (best) model would be part of the output. Or, if you can provide a function that contains parameters from the best model.

[2020-04-09 18:58] AdrianAntico commented on #56
@MislavSag Thanks for the response. I think this is a solid use case. I'm going to reopen and tag it as a feature enhancement!

[2020-04-10 13:11] Akai01 opened #57 "Hurdle models - add a scoring function for these models"
@AdrianAntico

How do you predict after one of the hurdle model is trained?
Could you give an example how can it be used please?

BR

Res

[2020-04-10 16:16] AdrianAntico commented on #57
@Akai01 Hi there. Currently, if you specify SaveModelObjects = TRUE in the function setup then those models will be saved to file and you can use them for scoring. HOWEVER, I haven't set up a scoring function dedicated to these models, mostly because I haven't used them for that purpose as of yet and no one has asked.

[2020-04-10 16:17] AdrianAntico commented on #57
@Akai01 I'll make this into a enhancement request issue.

[2020-04-12 07:07] VladPerervenko opened #58 "threshOptim"
`...
# Plot of results
  Plot <- ggplot2::ggplot(results, ggplot2::aes(x = Thresholds, y = Utilities)) +
    ggplot2::geom_line(color = "blue") +
    **RemixAutoAI**::ChartTheme(AngleX = 0) +
    ggplot2::ggtitle(paste0("Threshold Optimization: best cutoff at ",thresh)) +
    ggplot2::geom_vline(xintercept = thresh, linetype="dotted", color = "red", size=1.5)
  return(list(Thresholds = thresh, Eva

[2020-04-12 07:13] AdrianAntico commented on #58
@VladPerervenko Thanks for the issue! I just removed the reference.

[2020-04-12 07:13] #58 closed

[2020-04-24 04:51] monstah123 opened #59 "from sklearn.linear_model import LinearRegression not working"
from sklearn.linear_model import LinearRegression not working.

<ipython-input-45-4a69c032e102> in <module>()
      1 from sklearn.linear_model import LinearRegression
      2 regressor = LinearRegression()
----> 3 regressor.fit(X_train, y_train)
      4

NameError: name 'X_train' is not defined

[2020-04-24 05:34] #59 closed

[2020-05-03 15:22] Akai01 opened #60 "Catboost carma"
Hello Adrian,

Is there a particular reason why you are encoding categorical variables in catboost carma?

Best regards

Res

[2020-05-03 16:19] AdrianAntico commented on #60
What do you mean "encoding"? With CatBoost related functions, I do not "dummify" categorical variables. I only do that with XGBoost related functions.

[2020-05-04 15:32] #60 closed

[2020-05-21 01:46] AdrianAntico commented on #57
@Akai01 There is now a scoring function available called AutoHurdleScoring(). It's currently only available for the AutoCatBoostHurdleModel() function. I'll be tackling the XGBoost version next. I spent some time on the H2O version but I'm running into some trouble with persisting the H2O instance. Will keep looking into that once I finalize the XGBoost version.

[2020-05-21 01:46] #57 closed

[2020-06-03 05:52] lejarx opened #61 "How to integrate regressors to the time series forecast models?"
Hi @AdrianAntico,

Do you have a guide on how can I include regressors to the forecast models in this package?

[2020-06-03 06:01] AdrianAntico commented on #61
@lejarx check out the help file for AutoCatBoostCARMA(). I set up examples there. Look for the xregs argument. The xregs needs to be a data.table and has to extend into the future enough to cover the FC_Window periods to forecast. If you have categorical variables (like "Store" or "Dept") make sure to set up xregs with both categorical columns and the other regressors that you want to use. Let me

[2020-06-03 06:12] lejarx commented on #61
Thanks @AdrianAntico

[code]
By forward looking values, this means we already need to have the future forecasted values for each of the regressors correct?

Otherwise, do you maintain a list of the models that support XREG?

[2020-06-03 06:24] AdrianAntico commented on #61
@lejarx The Auto__CARMA() suite supports these xregs for forecasting.

The individual regressions supplied in the xregs argument needs to already be forecasted ahead. If you don't have forward looking regressions you can forecast them out or you could try using lags instead. For the lag method, let's say you want to forecast out 5 weeks into the future, this means you would need to utilize lags gr

[2020-06-03 09:58] lejarx commented on #61
Thanks @AdrianAntico , appreciate your thoughtful response!

[2020-06-03 09:58] #61 closed

[2020-06-03 15:36] AdrianAntico commented on #61
@lejarx No problem, best of luck!

[2020-06-17 05:36] lejarx opened #62 "Invalid uid value and malformed maintainer field upon install dependency Catboost"
Hi @AdrianAntico

I'm trying to install the latest version of RemixAutoML package but faced the following errors.
I'm still on R3.6 if that helps. Does your package requires certain version of R?

[code]

[2020-06-17 05:55] AdrianAntico commented on #62
@lejarx You'll definitely need catboost installed before my package can be installed. There are a few different methods for installing it. If you go to the catboost documentation homepage you can find the various ways on there. https://catboost.ai/docs/concepts/r-installation.html

[2020-06-17 23:52] #62 closed

[2020-06-18 01:45] lejarx commented on #62
Thanks @AdrianAntico ,

Installing the released version solves the issue

Below the solution I've used
[code]

[code]

[2020-06-19 16:00] AdrianAntico commented on #62
@lejarx Thanks for following up!

[2020-07-03 17:34] AdrianAntico commented on #62
@lejarx  FYI - I ran into the same problem and they got it fixed, in case you want to install the original way that you tried.

https://github.com/catboost/catboost/issues/1350

[2020-07-07 01:37] spsanderson opened #63 "Model Fails to Build AutoBanditSarima"
[code]

Issued the following commands in order:

[code]
Data attached

[weekly_log_returns.xlsx](https://github.com/AdrianAntico/RemixAutoML/files/4881980/weekly_log_returns.xlsx)

[2020-07-07 02:40] AdrianAntico commented on #63
@spsanderson That's quite the dependency list. You should tell Dancho to set up his functions so that users don't have to load all the extra libraries. I remember a CRAN person yelling at me over something similar. Nonetheless, I couldn't get all your functions to run so I'm kind of at a loss. Can you let me know what the final function is doing - tq_transmute() because that was the only one I cou

[2020-07-07 06:09] AdrianAntico commented on #63
@spsanderson Have you tried filling out all the function arguments for AutoBanditSarima()? That would be where I would start.

[2020-07-07 11:31] spsanderson commented on #63
time_param is a variable that equals “weekly” thought I posted that in

Sent from my iPhone

[2020-07-07 11:56] spsanderson commented on #63
No I did not fill out all the params for the function, I will try that

[2020-07-07 19:45] AdrianAntico commented on #63
@spsanderson The issue was getting the function ts_transmute() to run. I think it required me to upgrade to a different R version. Nevertheless, I'm not sure what the output should look like after I run that function. Is there a way to upload that data somewhere for me to download?

[2020-07-07 19:59] spsanderson commented on #63
the data I uploaded is the final data. weekly_log_returns.xlsx

when I run that data through AutoBanditSarima() the model fails to build, maybe there are not enough data points, when I run the model without any mutation a model builds. the tq_transmute() is getting the log return of the index aggregated by week.

[2020-07-08 21:30] AdrianAntico commented on #63
@spsanderson I was able to run your data through and I did find a glitch. The best model that was found came directly from a default auto.arima(). That hasn't really happened yet. But, it did call attention to some downstream code that thought fourier terms were being used when they in fact weren't (only happens when the auto.arima produces a winner which is not typically the case). I made a fix t

[2020-07-08 21:30] #63 closed

[2020-07-08 22:25] AdrianAntico commented on #63
@spsanderson FYI - I was able to run your data set without error. Feel free to reinstall and give it another attempt.

[2020-07-08 22:42] spsanderson commented on #63
Glad you were able to find the error. For this data Arima actually isn’t horrible it’s typically not the best performing but it’s not horrible the data is aggregated at the weekly level and it is the log returns of an index so we’re not really looking for the price but more or less will the future log returns be positive or negative and luckily the density of the log returns is fairly normal

Sent

[2020-07-08 23:00] AdrianAntico commented on #63
From a financial perspective, time series models are essentially technical analysis versus fundamental analysis. To me, the best way to beat the market would be through insider trading (I know, unless you are in congress, you aren't doing it). But it does lead to interesting questions about the type of information that drives the prices changes. Given that, if I really wanted to build a model to d

[2020-07-08 23:19] spsanderson commented on #63
Easy fix and yes I know the book it’s the Bible basically

Sent from my iPhone

[2020-07-09 09:01] VladPerervenko opened #64 "h2o"
Correct
`install.packages("h2o", type="source", repos="http://h2o-release.s3.amazonaws.com/h2o/rel-zahradnik/6/R")`

[2020-07-09 17:11] AdrianAntico commented on #64
@VladPerervenko Can I get a little more context? Is that the most recent update or something else?

[2020-07-10 08:37] VladPerervenko commented on #64
Latest release[ h2o (3.30.0.6)](http://h2o-release.s3.amazonaws.com/h2o/rel-zahradnik/6/index.html)
Copy and paste these commands into R one line at a time:
`# The following two commands remove any previously installed H2O packages for R.
if ("package:h2o" %in% search()) { detach("package:h2o", unload=TRUE) }
if ("h2o" %in% rownames(installed.packages())) { remove.packages("h2o") }

# Next, we dow

[2020-07-10 22:26] AdrianAntico commented on #64
@VladPerervenko Based on this page https://docs.h2o.ai/h2o/latest-stable/h2o-docs/faq/r.html the code to install is below. Not sure what webpage you found the install code you provided...

install.packages("h2o", type = "source", repos = (c("http://h2o-release.s3.amazonaws.com/h2o/latest_stable_R)))

[2020-07-10 22:27] #64 closed

[2020-07-11 14:44] mileta1976 opened #65 "Some items of .SDcols are not column names"
I have tried to run example:

https://www.remixinstitute.com/blog/why-machine-learning-is-more-practical-than-time-series-in-the-real-world/#.XwnPb9akpPY

For: AutoH2oDRFCARMA(), AutoH2oGBMCARMA(), AutoXGBoostCARMA()
there is error:

Error in `[.data.table`(data, , `:=`(GroupVar, do.call(paste, c(.SD, sep = " "))),  :
  Some items of .SDcols are not column names: [Store, Dept]

Thank you !

[2020-07-13 04:07] AdrianAntico commented on #65
@mileta1976 I found the glitch and fixed it across the suite of functions. However, there are some new args to the CARMA functions (since that article was written) so you'll want to update the code you attached to reflect those. You can find an example of filling them out in the help files for any of those functions. Be sure to go to the bottom of the help file in the "Examples" section.

[2020-07-17 03:48] AdrianAntico commented on #65
Needs a tune up

[2020-07-17 19:48] MislavSag opened #66 "Model was not able to be built"
Data:
[code]
and code:
[code]

returns:
"Model was not able to be built"

[2020-07-18 04:09] AdrianAntico commented on #66
@MislavSag I stepped through the function with your example. forecast::auto.arima() is the first model tested in the bandit routine and was unable to be fit. If auto.arima() fails I stop the function since subsequent Arima() runs will also fail.

[2020-07-18 04:09] #66 closed

[2020-07-23 13:00] mbanco opened #67 "Error in AutoCatBoostRegression"
Hi Adrian,
the following code throws an error:

options(warn=-1);
options(echo=FALSE);
options(verbose=FALSE);

y <- c(27978296.87, 26450099.1, 26330876.23, 26549732.37, 25882933.74, 26710469, 24964791, 28029292.7, 28376283.74, 31250598.35, 29777293.28, 32103699.2, 31422163.29, 31904695.36, 31256477.22, 32933981, 30943126.24, 36154304.51, 34195795.65, 37555676.01, 38792391.57, 41205297.9, 37770409

[2020-07-23 15:58] AdrianAntico commented on #67
@mbanco When you set GridTune = TRUE you cannot supply NULL as values for the hyperparameters 'Trees', 'Depth', 'LearningRate', 'L2_Leaf_Reg', 'RSM', 'BootStrapType', or 'GrowPolicy'. Those are all used in bandit grid tuning.

I just added some code to the beginning of that function that will check for NULL values and if they are NULL when GridTune = TRUE the function will immediately return a not

[2020-07-23 15:58] #67 closed

[2020-08-08 08:02] #65 closed

[2020-12-30 09:16] alyssajan opened #69 "Unable to install RemixAutoML"
Hi,
When I try to the final step to install RemixAutoML, the error message happened like below:
How can I solved this problem? thanks!
------------------------------------------------------------------------------------------------------------

Downloading GitHub repo AdrianAntico/RemixAutoML@HEAD
✓  checking for file ‘/tmp/Rtmpp2ATpw/remotes1088432068c34/AdrianAntico-RemixAutoML-332cc60/DESCRIPTI

[2020-12-30 16:59] AdrianAntico commented on #69
@alyssajan Hi there, go ahead and give it another shot. I have some new additions I've been working on but they aren't ready yet. They got mixed in on a prior commit which was a mistake on my part. I just removed them.

[2020-12-30 21:04] #69 closed

[2020-12-31 02:01] alyssajan commented on #69
Thank you for your help. I have successfully installed it. I'm so happy.

Adrian <notifications@github.com> 於 2020年12月31日 週四 上午5:05寫道：

[2021-02-04 00:22] mallick84 opened #70 "AutoCatBoostCARMA error."
I am just trying to execute the example code of store data. But I am going through the different error.

**First execution.**
[code]
Results <- RemixAutoML::AutoCatBoostCARMA(
+   data,
+   TargetColumnName = "Weekly_Sales",
+   DateColumnName = "Date",
+   GroupVariables = c("Store","Dept"),
+   FC_Periods = 52,
+   TimeUnit = "week",
+   TargetTransformation = TRUE,
+   Lags = c(1:25, 51, 52, 53

[2021-02-04 00:46] AdrianAntico commented on #70
@mallick84 Try out this version. Looks like you might be referencing an older version of the function. You'll have to keep in mind some of the new args, such as TrainOnFull. You set that to TRUE to train on full data and set it to FALSE to have the regression model insights returned.

[code]

[2021-02-05 03:59] mallick84 commented on #70
Thank you. let me check it.

[2021-02-06 02:04] mallick84 commented on #70
I am still stuck to resolve it.

### On Catboost 0.24.3
`# Load Walmart Data from Remix Institute's Box Account----

 Downloaded 3087910 bytes...

+   Counts == 143][, Counts := NULL]

Rows: 380,380
Columns: 4
$ Store        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
$ Dept         <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,...
$ Date         <date> 2010-02-05, 2010-0

[2021-02-06 02:53] AdrianAntico commented on #70
Catboost v0.24.4 isn't working for R currently. The maintainers said it will be fixed for their next release so you'll have to use v0.24.3 for now. https://github.com/catboost/catboost/issues/1525

As for setting up the function to work correctly, check out the example in the help file, which is at the bottom of it. It shows you how to tune the function. Type this into your R console to see it: ?R

[2021-02-06 02:53] #70 closed

[2021-02-09 14:27] mbanco opened #71 "Confidence level and forecast function"
Hi Adrian,
Would it be possible to allow the AutoArfima, AutoTBATS, AutoBanditNNet and AutoBanditSarima functions to include the possibility of modifying the confidence level and also include the forecast function, as in the forecast package?

Best regards,

Mauricio

[2021-02-09 16:23] AdrianAntico commented on #71
@mbanco Selecting the confidence levels is a great idea. I think it should be straightforward to add.

What do you mean by adding the forecast function though? Returning the model?

[2021-02-09 17:03] mbanco commented on #71
Thanks Adrian,
This is the forecast function included in the forecast package:

forecast(
  object,
  h = ifelse(frequency(object) > 1, 2 * frequency(object), 10),
  level = c(80, 95),
  xreg = NULL,
  ...
)

This allows modifying the confidence level or the value of the regressors, etc without having to refit the model.

[2021-02-09 17:08] AdrianAntico commented on #71
@mbanco Can I just return the model object and the xreg object as well? If you have those two then you can run the forecast function without refitting

[2021-02-09 17:19] mbanco commented on #71
If you can return the model object and the xreg object, that would be very good!!

[2021-02-09 20:32] AdrianAntico commented on #71
@mbanco Let me start by adding a Path argument to the functions so that the model and xregs can be saved to a file location of your choice if a path is supplied. I can do that quickly.

[2021-02-10 23:55] AdrianAntico commented on #56
@MislavSag You can now save the model and xregs to file by supplying a path to the SaveFile args. Sorry for the delay on this one. I had to do quite a bit of work to get these ones to run smoothly.

[2021-02-10 23:55] #56 closed

[2021-02-10 23:57] AdrianAntico commented on #71
@mbanco You can now supply a path to the FilePath arg and the model will be saved and if there are XREG and XREGFC objects, those too (or two) will be saved to file.

Let me know if that works for both requests. With the model output you can reforecast and supply different prediction interval values.

[2021-02-10 23:57] #71 closed

[2021-02-11 11:11] mbanco commented on #71
Thank you very much, Adrian!
I'm going to try this version.

Regards

El mié, 10 feb 2021 a las 20:57, Adrian (<notifications@github.com>)
escribió:

[2021-02-11 16:29] AdrianAntico commented on #71
Let me know how it goes. I think you will need to run RemixAutoML::TimeSeriesDataPrepare() to get the training data to run the forecast() function. I think the PerformanceGrid output from the AutoBandit_() and Auto_() functions will let you know how to set the params in TimeSeriesPrepare(). Let me know if you can't get that to work..

[2021-03-30 00:51] spsanderson opened #72 "Non-Zero Exit Status"
I am trying to install the newest version 0.5.0 and get the following:

[code]

Here is my session info:

[code]

[2021-03-30 01:14] AdrianAntico commented on #72
@spsanderson Looks like you need to install Rfast. I added that dependency a few releases ago due to its fast handling of matrix operations. That should solve the install issue

[2021-03-30 01:14] #72 closed

[2021-04-21 02:36] PyntieHet opened #73 "Error catboost.train"
![image](https://user-images.githubusercontent.com/82921259/115488458-847b5980-a228-11eb-84d0-ceef8278218d.png)

I am running through the example workflow as I want to replicate for a task elsewhere but I am running into this error right as it begins the training step. I've tried adjusting this parameter but it all seems to fail here.

Thank you,
Ryan

[2021-04-21 02:58] AdrianAntico commented on #73
Hi @PyntieHet

Someone else reached out about that issue via email to me. I'm not sure exactly which release the CatBoost team made where they added the langevin argument but if you install their most recent version, the issue will not longer exist and you'll have the added benefit of their upgrades. Looks like it might have been 0.24 (https://github.com/catboost/catboost/releases).

However this

[2021-04-21 02:58] #73 closed

[2021-04-21 03:02] AdrianAntico commented on #73
@PyntieHet I should ask - are you allowed to upgrade catboost? I haven't had anyone tell me they couldn't but if you can't, I can always add some code to ignore that argument for people with earlier versions of catboost.

[2021-04-21 16:44] PyntieHet opened #74 "Some items of .SDcols are not column names; [Predict.V1]"
Hello again. Thanks for the langevin issue it has allowed me to get further to this new stage. I saw a similar post discussing the issue but this seems to pertain to gathering the predictions for the ML_EvalPlots(). I personally don't mind if I can't get the plot but I'd like to get to the forecasted values which this forces end before they get logged.

Thank you again,
Ryan
![image](https://user-

[2021-04-21 16:59] AdrianAntico commented on #74
@PyntieHet can share the function setup? The part of the error message that says [Predict.V1] is only for MultiRMSE (regression with more than one target variable). If you set up the EvalMetric or LossFunction to be 'MultiRMSE' with a single variable target that could be the issue. Otherwise, the internal function is mistakenly thinking that it's a MultiRMSE use case when it shouldn't be and I'll

[2021-04-21 17:25] PyntieHet commented on #74
That appears to be my mistake then; I was under the assumption that multiRMSE was needed via the grouped dataset for each of the levels.

I have it out of the example script now and testing on personalized dataset with only 1 grouping variable as opposed to the 2 in the example. Reran with the changes that was the issue. It that leads to yet another new roadblock though.
Thank you again, this trul

[2021-04-21 18:33] AdrianAntico commented on #74
@PyntieHet thanks for the compliment. These CARMA functions have been fun to build and a headache to get right. There's a ton happening internally.

As for the issue, can you provide a snapshot of your data? If you are also providing an XREGS dataset too then can you also provide a snapshot of that as well? I haven't encountered an error like this before...

[2021-04-21 18:39] PyntieHet commented on #74
Certainly. This is a significantly trimmed down version of the full dataset that I'll add other target variables into.

Right now it's just 3 columns: Date, GCN (think of this like a store ID), and the target variable TGM.
There are no xregs at this point in time so that setting has been set to NULL.

![image](https://user-images.githubusercontent.com/82921259/115604433-5ee56300-a2af-11eb-9477-2d9

[2021-04-21 19:00] AdrianAntico commented on #74
@PyntieHet I found some issues with the single group variable use case. I'm going to go through and make the fixes and I'll post back. I should have the fix today at some point. Thanks for bringing the issues to my attention!

[2021-04-21 19:02] PyntieHet commented on #74
Greatly appreciated! I look forward to it.

[2021-04-22 04:17] AdrianAntico commented on #74
@PyntieHet Giving you a head's up - This might take more than tonight. I'll be working on it however until it's correct.

[2021-04-22 05:14] PyntieHet commented on #74
No worries at all. Thanks for the update.

[2021-04-22 07:50] AdrianAntico commented on #74
@PyntieHet I just made a push. I was able to test single group and two group cases along with both group cases with and without xregs. I'm going to leave the issue open until I can do some further testing but I think you are good to go with the new update.

[2021-04-22 13:24] PyntieHet commented on #74
Removed the package completely and reinstalled the newest push and still running into the same error.
![Screenshot 2021-04-22 092111](https://user-images.githubusercontent.com/82921259/115721974-89392e00-a34c-11eb-8a4b-e5938a8e6749.png)
![Screenshot 2021-04-22 092148](https://user-images.githubusercontent.com/82921259/115721987-8c341e80-a34c-11eb-9065-1d9a3832746d.png)

[2021-04-22 16:10] AdrianAntico commented on #74
@PyntieHet Real quick - did you restart R after installing the package and running your script? If not, the package changes may not take effect.

Otherwise, I'm seeing at the end of the error "GroupVar_12248" which is how the DummifyDT function creates dummy variable names when creating dummy variables. However, that should only occur when you have the MultiRMSE specified. I think I only mentioned

[2021-04-22 16:28] PyntieHet commented on #74
I believe I had but restarting and rerunning the function now to see if it persists.

Here is the function call and most of it should be stock from the example.

Changes from weekly data to monthly
Change target column
No xregs
No bootstrapping
Metrics = "RMSE"

# Build forecast
CatBoostResults <- RemixAutoML::AutoCatBoostVectorCARMA(

    # data args
    data = data,
    TimeWeights = NULL,
    T

[2021-04-22 16:48] AdrianAntico commented on #74
@PyntieHet I probably should've asked for your code setup earlier in the conversation. I pasted your setup with AutoCatBoostCARMA() instead of AutoCatBoostVectorCARMA(). The latter is intended for use with multiple target variable columns and the MultiRMSE loss and eval metrics. I set it up to run on CPU but if you have a GPU you can switch up the TaskType argument to "GRU". Also, the BootStrapTyp

[2021-04-22 16:56] PyntieHet commented on #74
I see. That got it to run to completion. Thank you for your time and clarifications.

[2021-04-22 17:19] AdrianAntico commented on #74
@PyntieHet that's great! Thanks for raising the ticket because it did uncover a bug on my side.

[2021-04-22 17:19] #74 closed

[2021-05-10 16:14] PyntieHet opened #75 "Error in `[.data.table`(UpdateData., , `:=`(eval(GroupVariables.)"
Appears to be an issue when supplying more than 2 group levels. Works fine with 1 or 2 group variables but gives error on more than that.

![image](https://user-images.githubusercontent.com/82921259/117688606-ede6ec00-b186-11eb-8fa5-fd50481b1e1b.png)
![image](https://user-images.githubusercontent.com/82921259/117689041-5df57200-b187-11eb-8035-2db4c66e831a.png)

[2021-05-10 16:38] AdrianAntico commented on #75
@PyntieHet Can you try changing the name of "Product.Type" to "ProductType" and rerunning? If that doesn't work, can you send over your code and a data snippet (feel free to mask the data). I just tested a 3 group case with and without XREGS on my side and had no issue.

[2021-05-10 17:44] PyntieHet commented on #75
Changed the column name and got the same error.

As I was preparing a reproduceable example to send over, I just trimmed down the dataset from 11M rows (medium dataset here - I've got another pushing 1B rows for future use) down to 10,000 and it appears to be working as intended. I'll be honest I wasn't expecting that.

Just tested with 4 groups on the smaller data and it appears to be working as

[2021-05-10 18:44] PyntieHet commented on #75
I currently have 32GB available at the moment but it does go to near max so I've got a feeling that's it. I am currently doing your suggestion of splitting out into individual models at the moment but was hoping not to.

I did try disk.frame which is built on data.table as a way to circumvent ram limits but it doesn't fit well with the current package structure as it's still experimental so had to

[2021-06-02 17:34] joclimber opened #76 "AutoCatBoostCARMA doesn't forecast"
Hi, I'm trying to forecast a single time series using AutoCatBoostCARMA. When the fuction finishes processing I can't find the forecast. I'm pretty sure I'm using it wrong, but can't figure out why.  I want to forecast from 2018-12-01 to 2020-01-01 (13 months).

My CatBoostResults object contains: Model, TrainData, TestData, PlotList, EvaluationMetrics, VariableImportance, InteractionImportance, G

[2021-06-02 18:38] AdrianAntico commented on #76
The argument TrainOnFull needs to be set to TRUE. When it's set to FALSE the function will build out the regression model and collect evaluation information and return that when complete. When TrainOnFull is TRUE, it will build the model and skip over building out the evaluation information, and create a forecast.

[2021-06-02 18:38] #76 closed

[2021-06-02 19:08] joclimber commented on #76
wow! great response time :)
just ran on TRUE for TrainOnFull and got an error message:

Error in data.table::set(UpdateData., i = N., j = c("Predictions", TargetColumnName.),  :
  i[1] is 36 which is out of range [1,nrow=35].

![image](https://user-images.githubusercontent.com/85248827/120538296-b56cb380-c3bc-11eb-8d64-c7dc7869c4e9.png)

[2021-06-02 19:28] AdrianAntico commented on #76
@joclimber I made a few updates to the code below and it ended up running without issue on my machine. There was a blank space after the column name "month". Also, "value" should be the target variable and "month" should be the date variable. I set them correctly below. One other possibility - if it has been a while since you last installed RemixAutoML, please do so again. I know there were some b

[2021-06-02 20:04] joclimber commented on #76
Thanks, @AdrianAntico

Even with those changes applied, I coundn't get past that error. Updated to lastest version, v0.5.3

Do you have any other tips on what can be the solution in this case?

![image](https://user-images.githubusercontent.com/85248827/120545067-8c502100-c3c4-11eb-9ffa-dd7e1d695ca0.png)

[2021-06-02 20:09] AdrianAntico commented on #76
@joclimber for the code I pasted back in here, were you able to get that to run correctly?

[2021-06-02 20:29] joclimber commented on #76
My mistake, Adrian! I just got it working. Just remapped the variables in the code again and it went smoothly until it finished. Thank you for your responsiveness, patience and great package!

[2021-06-02 20:34] AdrianAntico commented on #76
@joclimber thanks! Feel free to let me know how it goes or if you have any feature requests.

[2021-06-02 21:09] joclimber commented on #76
Just narrowed down that the error occurred due to variable TimeUnit = "month" instead of TimeUnit = "months"

[2021-06-02 21:22] AdrianAntico commented on #76
@joclimber I'm going to expand the list of acceptable names to help prevent that issue. I've done it elsewhere in the package. I'll make that change for the upcoming release.

[2021-07-14 08:01] MislavSag opened #77 "unused arguments issue with FakeDataGenerator"
Hi,

I have just download the newest version of the package and all dependencies.

I have ran the code from the readm me:
[code]
but I got an error:
[code]

Than, when I comment those two arguments I got an error:
[code]

[2021-07-14 16:30] AdrianAntico commented on #77
Hi @MislavSag

Thanks for bringing this up. It's been a while since I updated the README code for a few of these functions. Looks like the CatBoost and XGBoost regression, classifier, and multiclass all needed updating. I just pushed the updates so that the readme code matches the help file code. You should be good to go for copying it in and running it.

[2021-07-14 16:30] #77 closed

[2021-07-15 15:10] MislavSag commented on #77
Running `RemixAutoML::AutoCatBoostClassifier` crashed all my active R sessions. Do you know what could be the reason?

[2021-07-15 16:46] AdrianAntico commented on #77
@MislavSag It's CatBoost. It seems like there newest release is causing that. I haven't investigated enough to figure out why that's happening. I know they mentioned there require a newer version of cuda / drivers for GPU and that was the only thing I tested and it crashed. Not sure if there are also CPU training issues, but the prior version of catboost works without error.

[code]

[2021-08-30 07:30] acca3003 commented on #40
I have created a R version of NGBoost.
https://github.com/acca3003/ngboostR
It is a prelimiar version but you can test example.

[2021-08-30 07:33] AdrianAntico commented on #40
Thanks for the heads up! Someone opened up an issue for me a while back to incorporate this into RemixAutoML. I'll start looking into incorporating it

[2021-09-06 14:47] mbanco opened #78 "AutoXGBoostCARMA Error"
Hi Adrian,
I don't know where the error is in this code, when I use GridTune = TRUE:

[code]

Best Regards

Mauricio

[2021-09-06 19:26] AdrianAntico commented on #78
@mbanco I just ran through your code example and it finished up without any issues. How far along did the procedure run on your end? Did it stop training (which means it went on to create the evaluation metrics and interpretation plots)?

My best guess at this point is to have you upgrade ggplot2 to its newest version and rerun. I know there was a breaking change on ggplot2's side of things and I

[2021-09-07 11:04] mbanco commented on #78
Hi Adrian,
this is the error:

[1995]	train-rmse:0.001685
[1996]	train-rmse:0.001685
[1997]	train-rmse:0.001685
[1998]	train-rmse:0.001685
[1999]	train-rmse:0.001685
[2000]	train-rmse:0.001685
 Error in xgb.DMatrix(newdata, missing = missing) :
  xgb.DMatrix does not support construction from NULL

I have installed ggplot2 version 3.3.5.

Thanks

Mauricio

[2021-09-07 17:10] AdrianAntico commented on #78
@mbanco When is the last time you re-installed RemixAutoML?

[2021-09-08 11:04] mbanco commented on #78
A while ago, I re-installed the package, but it gives the same error.

[2021-09-08 16:13] AdrianAntico commented on #78
Did you restart R after installing?

[2021-09-09 10:58] mbanco commented on #78
Thanks you Adrain,
I'm going to try that way.

[2021-09-09 19:25] AdrianAntico commented on #78
Keep me posted. I was able to get it to run on my side. When I first ran it, I had TrainOnFull set to TRUE and it worked.

[2021-09-10 14:23] mbanco commented on #78
Thanks you.
I tell you that I have run the code on two PCs and it gives the same error.
Is it possible that there is some incompatibility with some installed package?

[2021-09-10 18:36] AdrianAntico commented on #78
You could be running into memory errors. Can you provide you compute specs?

Also, give this script a shot, as it has some of the ML args for tuning toned down a bit:
[code]

[2021-09-13 13:42] mbanco commented on #78
Hi Adrian,
the script works fine, but I would like to know how to use the model parameters with better performance to rerun and generate a forecast.

The computer specs are: Core i7, RAM 16 Gb, Windows 10 64 Bits

[2021-09-13 16:39] AdrianAntico commented on #78
@mbanco

To generate a forecast you just need to switch the parameter TrainOnFull = TRUE and switch GridTune = FALSE.

There are quite a few ways to optimize a forecast with the CARMA models. A few examples are below. You have have a holdout period of data that you can compare the forecast against and update the model info based on the performance of that.

[code]

[2021-09-13 16:39] #78 closed

[2022-05-19 06:52] talegari opened #80 "[Thanks] Great library"
This is not an issue, but a heartfelt thank you note.

[RemixAutoML](https://github.com/AdrianAntico/RemixAutoML) is helping to get to my first exploratory models quickly, set the benchmarks. Its well written. Thanks for this wonderful library Adrian.

Hope to see this on CRAN some day. Keep up the good work.

[2022-05-20 17:40] AdrianAntico commented on #80
Thank you!

[2022-05-20 17:40] #80 closed